<div class="megamenu" data-parent-link="{{ section.settings.parent_menu }}">
  <div class="megamenu-content">
    <div class="linklists lv-1 {% if section.settings.stack_menu %}stack{% endif %}">
      {% for block in section.blocks %}
        {% if block.type == "menu" %}
          {% assign menu_handle = block.settings.menu %}
          <div class="linklist_item">            
            {% for link in linklists[menu_handle].links %}
            {% assign link_handle = link.title | handleize %}
            <li class="linklist__item {% if link_handle == 'best-sellings' %}highlight{% endif %}">
              <a href="{{ link.url }}">
                {{ link.title }}
                {% if link_handle == 'saving-bundles' %}
                  <span class="badge">Best Price</span>
                {% endif %}
              </a>
            </li>
            {% endfor %}
            <a href="{{ block.settings.all_link }}" class="link_shopall {% if block.settings.shopall_big %}big{% endif %}">
              <span>Shop All</span>
              {% if block.settings.shopall_big %}
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
                  <path d="M1.66665 0L0.726654 0.94L3.77999 4L0.726654 7.06L1.66665 8L5.66665 4L1.66665 0Z" fill="white"/>
                </svg>
              {% endif %}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% for block in section.blocks %}
      {% if block.type == "image" %}
        <div class="image_item">
          <a class="menu-item-image" href="{{ block.settings.link_url }}">
            <img src="{{ block.settings.image | img_url: '600x' }}"/>
          </a>
          <a class="image-item-title" href="{{ block.settings.link_url }}">
            <span class="title">{{ block.settings.title }}</span>
            {% if block.settings.has_badge %}
              <span class="badge">{{ block.settings.badge_text }}</span>
            {% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Mega menu",
  "class": "megamenu-section",
  "settings": [
    {
      "type": "text",
      "id": "parent_menu",
      "label": "Parent Menu Handle"
    },
    {
      "type": "checkbox",
      "id": "stack_menu",
      "label": "Stack Menu?",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "Menu link",
      "type": "menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        },
        {
          "type": "checkbox",
          "id": "shopall_big",
          "label": "big button?",
          "default": true
        },
        {
          "type": "url",
          "id": "all_link",
          "label": "All Link"
        }
      ]
    },
    {
      "name": "Image Block",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link Url"
        },
        {
          "type": "checkbox",
          "id": "has_badge",
          "label": "Has Badge"
        },
        {
          "type": "text",
          "id": "badge_text",
          "label": "Badge Text"
        }
      ]
    }
  ]
}
{% endschema %}