{% comment %} Variables {% endcomment %}
{% assign current_variant = product.selected_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

{% assign product_vendor_handle = product.vendor | handle %}
{% if collections[product_vendor_handle].handle == product_vendor_handle %}
  {% assign vendor_url = collections[product_vendor_handle].url %}
{% else %}
  {% assign vendor_url = product.vendor | url_for_vendor %}
{% endif %}

{% capture thumbnail_images %}
  {% for image in product.images %}
    {% assign active_image = false %}
    {% if featured_image == image %}
      {% assign active_image = true %}
    {% endif %}

    {% assign is_video = false %}
    {% if image.alt contains 'vimeo.com' %}
      {% assign is_video = true %}
    {% endif %}

    <div
      class="product-page--thumb"
      data-active="{{ active_image }}"
      data-id="{{ image.id }}"
      tabindex="0"
      {% if is_video %}data-video-url="{{ image.alt }}"{% endif %}
    >
      {% if is_video %}
        <span class="play-icon"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23 12l-22 12v-24l22 12zm-21 10.315l18.912-10.315-18.912-10.315v20.63z"/></svg></span>
      {% endif %}
      {%
        include 'framework--image',
        image: image,
        widths: '90, 180'
      %}
    </div>
  {% endfor %}
{% endcapture %}


{% comment %} View {% endcomment %}
<div
  class="product-page--root"
  data-js-class="ProductPage"
  data-section-id="{{ section.id }}"
  data-section-type="product_page"
  data-magnify="1.7"
  data-zoom-enabled="{{ section.settings.product-zoom-enabled }}"
  data-product-modal-enabled="{{ section.settings.product-modal-enabled }}"
  data-size-chart-enabled="{{ section.settings.product-size-chart-enabled }}"
  data-size-chart-option="{{ section.settings.product-size-chart-option }}"
  data-cart-form-position="{{ section.settings.cart-form-position }}"
  {% if section.settings.low-in-stock-amount > 0 %}
    data-product-low-in-stock-amount="{{ section.settings.low-in-stock-amount }}"
  {% endif %}
  data-product-size-chart-enabled="{{ section.settings.product-size-chart-enabled }}"
  data-js-class="ProductPage"
>

  <header>
    <div class="row show--medium-large">
      <div class="columns">
        {% if section.settings.product-breadcrumbs-show %}
          {% include 'snippet-breadcrumbs' %}
        {% endif %}
      </div>
    </div>
  </header>

  <article itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="image" content="https:{{ product.featured_image.src | product_img_url: '1200x' }}" />

    <div class="product-page--main-content">

      <div class="product-page--title-n-vendor">
        <h1 class="product-page--title font--section-heading" itemprop="name">{{ product.title }}</h1>
        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{product.id}}" data-product-title="{{product.title}}" data-product-type="{{product.type}}" style="display: block;"></span>
        {% if settings.brand-show %}
          <div itemprop="brand"><a class="font--light-accent" href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a></div>
        {% endif %}
      </div>

      <div class="product-page--cart-form-block">

        <div class="font--accent">
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />

            {% if product.available %}
              <link itemprop="availability" href="http://schema.org/InStock" />
            {% else %}
              <link itemprop="availability" href="http://schema.org/OutOfStock" />
            {% endif %}

            {% assign price_meta = product.selected_or_first_available_variant.price | divided_by: 100.00 %}
            <meta itemprop="price" content="{{ price_meta }}">

            <p class="price--container">
              {% assign variant = product.selected_variant %}
              <span class="actual-price font--accent money">{{ variant.price | money }}</span>&nbsp;<span class="compare-price">{% if variant.price < variant.compare_at_price %}<span class="money font--light-accent">{{ variant.compare_at_price | money }}</span>{% endif %}</span>
            </p>
          </div>
        </div>
        
        <div class="product-page--cart-form">
          {% form 'product', product %}

          

          <div class="reward-points">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M11.125 0.5C10.0044 0.5 8.98875 0.71 8.195 1.10562C7.40188 1.50125 6.75 2.14562 6.75 3V5.5C6.75 5.58063 6.77688 5.65875 6.78937 5.73438C6.16377 5.5754 5.52048 5.49665 4.875 5.5C3.75437 5.5 2.73875 5.71 1.945 6.10563C1.15187 6.50125 0.5 7.14563 0.5 8V13C0.5 13.8544 1.15188 14.4987 1.94563 14.8944C2.73875 15.29 3.75437 15.5 4.875 15.5C5.99563 15.5 7.01125 15.29 7.805 14.8944C8.5975 14.4987 9.25 13.8544 9.25 13V12.7463C9.8614 12.9115 10.4917 12.9968 11.125 13C12.2456 13 13.2612 12.79 14.055 12.3944C14.8475 11.9987 15.5 11.3544 15.5 10.5V3C15.5 2.14562 14.8481 1.50125 14.0544 1.10562C13.2619 0.71 12.2463 0.5 11.125 0.5ZM11.125 1.75C12.0769 1.75 12.9244 1.955 13.4881 2.23813C14.0525 2.52125 14.25 2.81938 14.25 3C14.25 3.18125 14.0525 3.47875 13.4881 3.76187C12.925 4.045 12.0769 4.25 11.125 4.25C10.1731 4.25 9.32562 4.045 8.76188 3.76187C8.1975 3.47875 8 3.18062 8 3C8 2.81875 8.1975 2.52125 8.76188 2.23813C9.325 1.955 10.1731 1.75 11.125 1.75ZM8 4.7775C8.06563 4.81375 8.12687 4.86063 8.19562 4.89437C8.98875 5.29 10.0044 5.5 11.125 5.5C12.2456 5.5 13.2612 5.29 14.055 4.89437C14.1231 4.86063 14.1844 4.81375 14.25 4.7775V5.5C14.25 5.68125 14.0525 5.97875 13.4881 6.26188C12.9244 6.545 12.0769 6.75 11.125 6.75C10.1731 6.75 9.32562 6.545 8.76188 6.26188C8.1975 5.97875 8 5.68062 8 5.5V4.7775ZM4.875 6.75C5.82688 6.75 6.67438 6.955 7.23812 7.23812C7.8025 7.52125 8 7.81938 8 8C8 8.18125 7.8025 8.47875 7.23812 8.76188C6.67438 9.045 5.82688 9.25 4.875 9.25C3.92313 9.25 3.07562 9.045 2.51187 8.76188C1.9475 8.47875 1.75 8.18062 1.75 8C1.75 7.81875 1.9475 7.52125 2.51187 7.23812C3.075 6.955 3.92313 6.75 4.875 6.75ZM14.25 7.2775V8C14.25 8.18125 14.0525 8.47875 13.4881 8.76188C12.9244 9.045 12.0769 9.25 11.125 9.25C10.4883 9.25345 9.85524 9.15448 9.25 8.95687V8C9.25 7.91937 9.22313 7.84125 9.21062 7.76562C9.79187 7.91687 10.4362 8 11.125 8C12.2456 8 13.2612 7.79 14.055 7.39437C14.1231 7.36063 14.1844 7.31375 14.25 7.2775ZM1.75 9.7775C1.81562 9.81375 1.87688 9.86063 1.94563 9.89437C2.73875 10.29 3.75437 10.5 4.875 10.5C5.99563 10.5 7.01125 10.29 7.805 9.89437C7.87312 9.86063 7.93437 9.81375 8 9.7775V10.5C8 10.6812 7.8025 10.9788 7.23812 11.2619C6.67438 11.545 5.82688 11.75 4.875 11.75C3.92313 11.75 3.07562 11.545 2.51187 11.2619C1.9475 10.9788 1.75 10.6806 1.75 10.5V9.7775ZM14.25 9.7775V10.5C14.25 10.6812 14.0525 10.9788 13.4881 11.2619C12.9244 11.545 12.0769 11.75 11.125 11.75C10.4144 11.75 9.7725 11.65 9.25 11.4762V10.2656C9.82375 10.4169 10.4487 10.5 11.125 10.5C12.2456 10.5 13.2612 10.29 14.055 9.89437C14.1231 9.86063 14.1844 9.81375 14.25 9.7775ZM1.75 12.2775C1.81562 12.3138 1.87688 12.3606 1.94563 12.3944C2.73875 12.79 3.75437 13 4.875 13C5.99563 13 7.01125 12.79 7.805 12.3944C7.87312 12.3606 7.93437 12.3138 8 12.2775V13C8 13.1812 7.8025 13.4788 7.23812 13.7619C6.67438 14.045 5.82688 14.25 4.875 14.25C3.92313 14.25 3.07562 14.045 2.51187 13.7619C1.9475 13.4788 1.75 13.1806 1.75 13V12.2775Z" fill="#575757"/>
            </svg>
            <span>Earn <strong>{{ product.selected_or_first_available_variant.price | divided_by: 100 | times: settings.earning_point_rate | round: 0 }} points</strong> with this purchase.</span>
          </div>

          <div class="shipping-info">
            <div class="shipping-cost-duration">
              <span class="shipping-cost">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none">
                  <path d="M17.7 7.38125L15.825 3.00625C15.7772 2.89328 15.6971 2.79689 15.5949 2.7291C15.4926 2.6613 15.3727 2.6251 15.25 2.625H13.375V1.375C13.375 1.20924 13.3092 1.05027 13.1919 0.933058C13.0747 0.815848 12.9158 0.75 12.75 0.75H0.875C0.70924 0.75 0.550268 0.815848 0.433058 0.933058C0.315848 1.05027 0.25 1.20924 0.25 1.375V12C0.25 12.1658 0.315848 12.3247 0.433058 12.4419C0.550268 12.5592 0.70924 12.625 0.875 12.625H2.2125C2.35643 13.1546 2.67063 13.6221 3.10662 13.9555C3.54262 14.2888 4.07619 14.4694 4.625 14.4694C5.17381 14.4694 5.70738 14.2888 6.14338 13.9555C6.57937 13.6221 6.89357 13.1546 7.0375 12.625H10.9625C11.1064 13.1546 11.4206 13.6221 11.8566 13.9555C12.2926 14.2888 12.8262 14.4694 13.375 14.4694C13.9238 14.4694 14.4574 14.2888 14.8934 13.9555C15.3294 13.6221 15.6436 13.1546 15.7875 12.625H17.125C17.2908 12.625 17.4497 12.5592 17.5669 12.4419C17.6842 12.3247 17.75 12.1658 17.75 12V7.625C17.7498 7.54122 17.7328 7.45833 17.7 7.38125ZM13.375 3.875H14.8375L16.175 7H13.375V3.875ZM4.625 13.25C4.37777 13.25 4.1361 13.1767 3.93054 13.0393C3.72498 12.902 3.56476 12.7068 3.47015 12.4784C3.37554 12.2499 3.35079 11.9986 3.39902 11.7561C3.44725 11.5137 3.5663 11.2909 3.74112 11.1161C3.91593 10.9413 4.13866 10.8222 4.38114 10.774C4.62361 10.7258 4.87495 10.7505 5.10335 10.8451C5.33176 10.9398 5.52699 11.1 5.66434 11.3055C5.80169 11.5111 5.875 11.7528 5.875 12C5.875 12.3315 5.7433 12.6495 5.50888 12.8839C5.27446 13.1183 4.95652 13.25 4.625 13.25ZM10.9625 11.375H7.0375C6.89357 10.8454 6.57937 10.3779 6.14338 10.0445C5.70738 9.71122 5.17381 9.53062 4.625 9.53062C4.07619 9.53062 3.54262 9.71122 3.10662 10.0445C2.67063 10.3779 2.35643 10.8454 2.2125 11.375H1.5V2H12.125V9.85C11.8404 10.0152 11.5912 10.2349 11.3917 10.4966C11.1922 10.7583 11.0464 11.0568 10.9625 11.375ZM13.375 13.25C13.1278 13.25 12.8861 13.1767 12.6805 13.0393C12.475 12.902 12.3148 12.7068 12.2201 12.4784C12.1255 12.2499 12.1008 11.9986 12.149 11.7561C12.1972 11.5137 12.3163 11.2909 12.4911 11.1161C12.6659 10.9413 12.8887 10.8222 13.1311 10.774C13.3736 10.7258 13.6249 10.7505 13.8534 10.8451C14.0818 10.9398 14.277 11.1 14.4143 11.3055C14.5517 11.5111 14.625 11.7528 14.625 12C14.625 12.3315 14.4933 12.6495 14.2589 12.8839C14.0245 13.1183 13.7065 13.25 13.375 13.25ZM16.5 11.375H15.7875C15.6493 10.8397 15.3375 10.3653 14.901 10.0261C14.4645 9.68679 13.9278 9.50179 13.375 9.5V8.25H16.5V11.375Z" fill="#272727"/>
                </svg>
                <span>{{ section.settings.shipping_cost }}</span>
              </span>
              <span class="shipping-duration">{{ section.settings.shipping_duration }}</span>
            </div>
            <div class="free-shipping-condition">
              {{ section.settings.free_shipping_condition }}
            </div>
          </div>

           {% comment %}
           <!-- Adding line items - https://docs.shopify.com/manual/configuration/store-customization/page-specific/product-page/get-customization-information-for-products -->
           <div>
              <label for="line-item-1">Line Item 1</label>
              <input type="text" id="line-item-1" name="properties[line-item-1]">
            </div>

            <div>
              <label for="line-item-2">Line Item 2</label>
              <input type="text" id="line-item-2" name="properties[line-item-2]">
            </div>
            {% endcomment %}
          
        {%- if collection.title != "All Products" and collection.title != "Tools + Accessories" and collection.products_count > 1 -%}
          <div class="related-products-current">
            <label>Color</label>
            <div class="current-product">
			  <div class="current-product-thumb-wrapper">
              	{{ product.featured_image | img_url: 'x55' | img_tag }}
              </div>
              <p class="current-product-title">{{ product.title | remove: "<br>" }}</p>
              <i class="fas fa-angle-down"></i></div>
          </div>
          <ul class="related-products dropdown">
            <li>
                <ul class="dropdown-menu">
                {% assign sorted_products = collection.products | sort: 'title' %}
                {% for p in sorted_products %}
                <li><a href="{{ collection.url | append: '/products/' | append: p.handle }}">
                  <div class="product-dropdown-item">
                  {{ p.featured_image | img_url: 'x55' | img_tag }} 
                  {{ p.title | remove: "<br>" }}
                  </div>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        {%- endif -%}

            <div class="font--accent variants {% unless product.variants.size > 1 %}hidden{% endunless %}">
              <label for="variant-listbox-option-0">
                {{ product.options[0] }}
              </label>
              <select id="variant-listbox" name="id" class="medium">
                <option value="">Pick a Size</option>
                {% for variant in product.variants %}
                  <option
                    data-sku="{{ variant.sku }}"
                      {% if variant.inventory_quantity <= 0 and variant.available == false %}DISABLED {% endif %}
                      {% if variant == product.selected_variant %}selected="selected" {% endif %} value="{{ variant.id }}"
                      {% if section.settings.low-in-stock-amount > 0 and
                        variant.inventory_management == "shopify" and
                        variant.inventory_policy == "deny"
                      %}
                        data-inventory-quantity="{{ variant.inventory_quantity }}"
                      {% endif %}
                  	>
                    {{ variant.title }}
                  </option>
                {% endfor %}
              </select>
            </div>
            {% include 'snippet-product-low-in-stock' %}
            <div
              class="quanity-cart-row clearfix"
              data-smart-payment-button="{{ section.settings.smart_payment_button }}"
            >
              {% include 'snippet-quantity' %}

              <div class="add-to-cart">
                {% assign cart_button_class = 'font--button' %}
                {% if section.settings.smart_payment_button %}
                  {% assign cart_button_class = 'font--secondary-button' %}
                {% endif %}
                <button class="add {{ cart_button_class }}" type="submit" name="add" id="add">
                  <span class="text">{{ 'products.add_to_cart' | t }}</span>
                  <span class="fw--loading_animation tiny" data-js-class="FrameworkLoadingAnimation"></span>
                </button>
              </div>
            </div>
            {% if section.settings.smart_payment_button %}
              <div class="font--button product-page--smart-payment-buttons">
                {{ form | payment_button }}
              </div>
            {% endif %}
          {% endform %}
        </div>

        <div class="product-sticky-form">
          <div class="price">
            <div class="price-label">Price</div>
            <div class="actual-price money">{{ product.first_available_variant.price }}</div>
          </div>
          <div class="qty-atc-form">
            <div class="qty-wrap">
              <button data-sticky-qty-minus class="minus">-</button>
              <input data-sticky-qty-input class="qty" value="1" name="quantity"/>
              <button data-sticky-qty-plus class="plus">+</button>
            </div>
            <div class="atc-wrap">
              <button data-sticky-atc class="font--secondary-button" type="button">ADD TO CART</button>
            </div>
          </div>
        </div>

        <div class="pick-variant" style="display: none;">
          <p class="error font--paragraph">{{ 'products.please_pick_variant' | t }}</p>
        </div>
        {% include 'snippet-product-unavailable' %}

        {%- comment -%}
        The original design had thumbnails move to the content column at a 1280 breakpoint
        {% if product.images.size > 1 %}
          <div class="product-page--thumbs" data-position="cart-form-column">
            <div class="product-page--thumbs-container">
              {{ thumbnail_images }}
            </div>
          </div>
        {% endif %}
        {%- endcomment -%}
      </div>

      <div class="product-page--description font--paragraph">
        <div itemprop="description" class="rte-content">
          {{ product.description }}
        </div>

        {% if section.settings.product-share-this-show %}
          <section class="row social-share">
            <div class="columns">
              {% include 'snippet-product-share' with 'product-template' %}
            </div>
          </section>
        {% endif %}
      </div>

      {% if product.media.size > 0 %}
        <div class="product-page--images">
          <div class="product-page--images-container">
            <div class="modal--root" data-js-class="FrameworkModal">

              {% for image in product.images %}
                {% assign active_image = false %}
                {% if featured_image == image %}
                  {% assign active_image = true %}
                {% endif %}

                {% if section.settings.product-modal-enabled %}
                  <div class="modal--link">
                {% endif %}
                  <div
                    class="product-page--image"
                    data-active="{{ active_image }}"
                    data-id="{{ image.id }}"
                  >
                    {% if image.alt contains 'vimeo.com' %}
                    <iframe title="vimeo-player" src="{{ image.alt }}?autoplay=1&loop=1" allow="autoplay" allowfullscreen="" width="1000px" height="360px" frameborder="0"></iframe>
                    {% else %}
                      {%
                        include 'framework--image',
                        image: image,
                        preload: true
                      %}
                    {% endif %}
                  </div>

                  {% if section.settings.product-zoom-enabled %}
                    <div
                      class="product-page--zoom-image"
                      data-id="{{ media.id }}"
                      data-aspect-ratio="{{ media.aspect_ratio }}"
                    >
                      {% render 'media', media: media %}
                    </div>
                  {% endif %}

                {% if section.settings.product-modal-enabled %}
                  </div>
                {% endif %}
              {% endfor %}

              {% if section.settings.product-modal-enabled %}
                <div class="product-page--modal-images">
                  {% for meda in product.media %}
                    <div class="modal--content">
                      {% render 'media', media: media %}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}

            </div>
          </div>

          {% if product.media.size > 1 %}
            <div class="product-page--thumbs" data-position="image-column">
              <div class="product-page--thumbs-container">
                {{ thumbnail_images }}
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}

    </div>
  </article>

</div> <!-- .product-page -->

<script>
  // variables to pass to theme.js
  var product_title = '{{ product.title | escape }}';
  var product_variant_size = {{ product.variants.size }};
  var product_options_size = {{ product.options.size }};
  var product_options_size = 10;
  var product_options_first = '{{ product.options.first | escape }}';
  var product_json = {{ product | json }};
  var product_language_was = '{{ 'products.was' | t | escape }}';

  var selectCallback = function(variant, selector) {
    theme.partials.ProductPage.variantSelected(variant, selector);
    // add your selectCallback code here...
  };

  theme.products = {
    size_chart: {
      label: '{{ "products.size_chart" | t }}'
    },
    low_in_stock: {
      one: '{{ "products.low_in_stock" | t: count: 1 }}',
      other: '{{ "products.low_in_stock" | t: count: 2 }}'
    }
  };

  $(function() {
    var optionSelectors = new Shopify.OptionSelectors("variant-listbox", {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    {% if product.available and product.variants.size > 1 %}
      {% for option in product.options %}
        {% if current_variant == null %}
          var $select = $('.single-option-selector:eq({{ forloop.index0 }})').prepend('<option value="">Pick a {{ product.options[forloop.index0] }}</option>').val('');
          console.log('{{ current_variant }} {{ variant.price }}');
          $select.trigger('change');
        {% endif %}
      {% endfor %}
    {% endif %}
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    let small = $('.single-option-selector option:contains("0g")')
    small.attr('selected','selected').prop('selected', 'selected');
    $('.related-products').click(function(e) {
      $(this).toggleClass('dropdown-open');
    });
    $('.current-product').click(function(e) {
      $('.related-products').first().toggleClass('dropdown-open');
    });
  });
</script>

{% if section.settings.product-size-chart-enabled %}
  {% include 'snippet-size-chart' %}
{% endif %}

{% schema %}
{
  "name": "Product pages",
  "class": "section--products",
  "settings": [
    {
      "type": "checkbox",
      "id": "product-breadcrumbs-show",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "smart_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product-unavailable-form-show",
      "label": "Show notification form when product is unavailable"
    },
    {
      "type": "checkbox",
      "id": "product-modal-enabled",
      "label": "Enable modal popup",
      "default": true,
      "info": "Triggers when you click the main image"
    },
    {
      "type": "checkbox",
      "id": "product-zoom-enabled",
      "label": "Enable product zoom",
      "default": true,
      "info": "Triggers when you roll your mouse over the main image"
    },
    {
      "label": "Show low in stock notice when quantity is",
      "id": "low-in-stock-amount",
      "type": "range",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 0,
      "info": "Set to 0 to disable this feature. Updated for each variant."
    },
    {
      "type": "header",
      "content": "Positions"
    },
    {
      "type": "paragraph",
      "content": "Screens under 1280px wide will rearrange the columns automatically to prevent content from getting squished."
    },
    {
      "id": "cart-form-position",
      "label": "Cart form",
      "type": "radio",
      "options": [
        { "value": "left", "label": "Left"},
        { "value": "right", "label": "Right"}
      ]
    },
    {
      "type": "header",
      "content": "Size chart"
    },
    {
      "type": "checkbox",
      "id": "product-size-chart-enabled",
      "label": "Enable",
      "default": false
    },
    {
      "type": "text",
      "id": "product-size-chart-option",
      "label": "Link from option",
      "default": "size"
    },
    {
      "type": "page",
      "id": "product-size-chart-page-content",
      "label": "Page content"
    },
    {
      "type": "header",
      "content": "Social media panel"
    },
    {
      "type": "checkbox",
      "id": "product-share-this-show",
      "label": "Show",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product-share-twitter",
      "label": "Share on Twitter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product-share-facebook",
      "label": "Share on Facebook",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product-share-pinterest",
      "label": "Share on Pinterest",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product-share-tumblr",
      "label": "Share on Tumblr",
      "default": true
    },
    {
      "type": "header",
      "content": "Shipping Information"
    },
    {
      "type": "text",
      "id": "shipping_cost",
      "label": "Shipping Cost"
    },
    {
      "type": "text",
      "id": "shipping_duration",
      "label": "Shipping Duration"
    },
    {
      "type": "text",
      "id": "free_shipping_condition",
      "label": "Free Shipping Condition"
    }
  ]
}
{% endschema %}