<script class="cartFlagX"></script>{% comment %} translations {% endcomment %}
{% assign your_cart_t = 'cart.your_cart' | t %}
{% assign price_t = 'cart.price' | t %}
{% assign quantity_t = 'cart.quantity' | t %}
{% assign total_t = 'cart.total' | t %}
{% assign subtotal_t = 'cart.subtotal' | t %}
{% assign remove_t = 'cart.remove' | t %}
{% assign minus_t = 'cart.minus' | t %}
{% assign plus_t = 'cart.plus' | t %}
{% assign order_notes_t = 'cart.order_notes' | t %}
{% assign shipping_taxes_t = 'cart.shipping_taxes_notification' | t %}
{% assign continue_t = 'cart.continue' | t %}
{% assign checkout_t = 'cart.checkout' | t %}
{% assign empty_html_t = 'cart.empty_html' | t %}

{% assign has_items = false %}
{% if cart.item_count > 0 %}
  {% assign has_items = true %}
{% endif %}

<div
  class="cart--root"
  data-view="{{ view }}"
  data-js-class="Cart"
  data-has-items="{{ has_items }}"
  data-free-gift="{{ settings.cart_free_gift }}"
>
  <div class="cart--header">
    <p class="cart--title font--section-heading">{{ your_cart_t }}</p>
  </div>
  <div class="gift-meter">
    {% assign cartValue = cart.total_price %}
    {% assign freeGift = settings.cart_free_gift | times: 1.0 %}
    {% assign freeShipping = settings.cart_free_shipping | times: 1.0 %}
    {% assign untilFreeShipping = freeShipping | minus: cartValue %}
    {% assign untilFreeGift = freeGift | minus: cartValue %}
    {% assign giftX = freeGift | divided_by: freeShipping %}
    {% if cartValue >= freeGift and cartValue < freeShipping %}
      {% if settings.cart_free_metor_type == 'both' %}
        <p class="text"><span>Congratulations! You’ve unlocked <b>FREE Gift!</b></span>
          Add {{ untilFreeShipping | money }} to receive a FREE Shipping!</p>
      {% elsif settings.cart_free_metor_type == "only_shipping" %}
        <p class="text">Almost there! Add {{ untilFreeShipping | money }} to receive  <b>FREE Shipping!</b></p>
      {% else %}
        <p class="text"><span>Congratulations! You’ve unlocked <b>FREE Shipping!</b></span></p>
      {% endif %}
    
    {% endif %}
    {% if cartValue >= freeShipping %}
      {% if settings.cart_free_metor_type == 'both' %}
        <p class="text"><span>Congratulations! You’ve unlocked <b>FREE Gift and FREE Shipping!</b></span></p>
      {% elsif settings.cart_free_metor_type == "only_shipping" %}
        <p class="text"><span>Congratulations! You’ve unlocked <b>FREE Shipping!</b></span></p>
      {% else %}
        <p class="text"><span>Congratulations! You’ve unlocked <b>FREE Gift!</b></span></p>
      {% endif %}
    
    {% endif %}
    {% if cartValue < freeGift %}
      {% if settings.cart_free_metor_type == 'both' %}
        <p class="text">Almost there! Add {{ untilFreeGift | money }} to unlock <b>FREE Gift</b> and {{ untilFreeShipping | money }} to receive a <b>FREE Shipping!</b></p>
      {% elsif settings.cart_free_metor_type == "only_shipping" %}
        <p class="text">Almost there! Add {{ untilFreeShipping | money }} to receive <b>FREE Shipping!</b></p>
      {% else %}
        <p class="text">Almost there! Add {{ untilFreeGift | money }} to unlock <b>FREE Gift</b></p>
      {% endif %}
    {% endif %}
    <p>*Only for orders within the USA*</p>
    <div class="meter-container">
      {% if settings.cart_free_metor_type == 'both' %}
        <meter id="giftMeter" value="{{ cartValue }}" min="0" max="{{ freeShipping }}"></meter>
        <img src="{{ 'truck.svg' | asset_url }}" alt="Free Shipping" class="truck">
        <img src="{{ 'gift.svg' | asset_url }}" alt="Free Gift" class="gift" style="left: {{ giftX | times: 100 }}%;">
      {% elsif settings.cart_free_metor_type == "only_shipping" %}
        <meter id="giftMeter" value="{{ cartValue }}" min="0" max="{{ freeShipping }}"></meter>
        <img src="{{ 'truck.svg' | asset_url }}" alt="Free Shipping" class="truck">        
      {% else %}
        <meter id="giftMeter" value="{{ cartValue }}" min="0" max="{{ freeGift }}"></meter>
        <img src="{{ 'gift.svg' | asset_url }}" alt="Free Gift" class="truck">
      {% endif %}
      
    </div>
  </div>
  <form  class="cart--form" action="/cart" method="post" novalidate="">

    {% capture cart_upsell %}
      {% if settings.cart_upsell_product %}
        <div class="cart--upsell">
          <div class="cart--upsell-label">You may also like</div>
          <div class="cart--upsell-content">
            {% assign upsell_product = all_products[settings.cart_upsell_product] %}
            <div class="cart-upsell-image">
              {% include "framework--image", image: upsell_product.featured_image %}
            </div>
            <div class="cart-upsell-info">
              <div class="title-and-price">
                <div class="upsell-info-title">{{ upsell_product.title }}</div>
                <div class="upsell-info-price">                    
                  <span class="upsell-current-price {% if upsell_product.first_available_variant.original_price %}sale{% endif %}">{{ upsell_product.first_available_variant.price | money }}</span>
                  {% if upsell_product.first_available_variant.original_price %}
                    <span class="upsell-old-price">{{ upsell_product.first_available_variant.original_price | money }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="cart-upsell-action">
                <button type="button" class="btn_cart_upsell" data-cart-upsell-btn data-variant-id="{{ upsell_product.first_available_variant.id }}">
                  <span>ADD</span>
                  <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3.5V0H4V3.5H0.5V4.5H4V8H5V4.5H8.5V3.5H5Z" fill="white"/>
                  </svg>                    
                </button>
              </div>
              
            </div>            
          </div>
        </div>
      {% endif %}
    {% endcapture %}

    {% case view %}
      {% when 'desktop' %}
        <div class="cart--body">
          <div class="cart--headings font--accent">
            <div class="cart--heading--image"></div>
            <div class="cart--heading--title"></div>
            <div class="cart--heading--price">{{ price_t }}</div>
            <div class="cart--heading--quantity">{{ quantity_t }}</div>
            <div class="cart--heading--total">{{ total_t }}</div>
          </div>

          {% comment %} <div class="cart--items"> {% endcomment %}
          {% for item in cart.items %}
            {% capture item_image %}
              {% include "framework--image", image: item.image %}
            {% endcapture %}

            <div
              class="cart--item"
              data-variant-id="{{ item.variant_id }}"
              data-item-key="{{ item.key }}"
            >
              <div class="cart--item--image">
                <a href="{{ item.url }}">
                  {{ item_image }}
                </a>
              </div>

              <div class="cart--item--title">
                <div class="font--block-heading">
                  <a href="{{ item.url }}">{{ item.product.title }}<span class="tdf-cart-item-t"></span></a>
                </div>

                {% unless item.variant.title contains 'Default' %}
                  <div class="font--paragraph">
                    <a href="{{ item.url }}">{{ item.variant.title }}</a>
                  </div>
                {% endunless %}
                {% assign is_gift = false %}
                {% assign property_size = item.properties | size %}
                {% if property_size > 0 %}
                  {% for p in item.properties %}
                    {% unless p.last == blank or p.first == '_free_gift' %}
                      <br>
                      {{ p.first }}:
                      {% comment %} Check if there was an uploaded file associated {% endcomment %}
                      {% if p.last contains '/uploads/' %}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        {{ p.last }}
                      {% endif %}
                    {% endunless %}
                    {% if p.first == '_free_gift' %}
                      {% assign is_gift = true %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>

              <div class="cart--item--price font--accent">
                {% if item.original_price != item.final_price %}
                  <div class="font--light-accent">
                    <s class="money">{{ item.original_price | money }}</s>
                  </div>
                {% endif %}

                {% if is_gift %}
                  <div class="cart--item--total font--accent money">
                    {{ 0 | money }}
                  </div>
                  <div class="gift_discount">
                    FREE GIFT
                  </div>
                {% else %}
                  <div class="font--accent money">{{ item.final_price | money }}</div>

                  {% if item.line_level_discount_allocations.size > 0 %}
                    <div class="font--light-accent money">
                      {% for discount_allocation in item.line_level_discount_allocations %}
                        {{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endif %}

                
              </div>

              <div class="cart--item--quantity">
                {% unless is_gift == true %}
                <div class="cart--quantity--container input--number">
                  <a
                    class="minus"
                    tabindex="0"
                    aria-label="{{ minus_t }}"
                    href="/cart/change?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1}}"
                  >
                    {% include 'snippet-symbol' with 'minus' %}
                  </a>
                  <label for="updates_{{ item.id }}" class="hidden">{{ quantity_t }}</label>
                  <input
                    class="cart--quantity--input"
                    type="text"
                    name="updates[]"
                    id="updates_{{ item.id }}"
                    value="{{ item.quantity }}"
                    min="1"
                    pattern="[1-9]*"
                    data-loading="false"
                  />
                  <a
                    class="plus"
                    tabindex="0"
                    aria-label="{{ plus_t }}"
                    href="/cart/change?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1}}"
                  >
                    {% include 'snippet-symbol' with 'plus' %}
                  </a>
                </div>
                {% endunless %}

                <div class="cart--item--remove font--block-link">
                  <a
                    href="/cart/change?line={{ forloop.index }}&quantity=0"
                    class="remove"
                    aria-label="{{ remove_t }}"
                    title="{{ remove_t }}"
                  >
                    {{ remove_t }}
                  </a>
                </div>
                
              </div>

              <div class="cart--item--total font--accent">
                {% if item.original_line_price != item.final_line_price %}
                  <div class="font--light-accent">
                    <s class="money">{{ item.original_line_price | money }}</s>
                  </div>
                {% endif %}

                {% if is_gift %}
                  <div class="money">
                    {{ 0 | money }}
                  </div>
                {% else %}
                  <div class="money">
                    {{ item.final_line_price | money }}
                  </div>
                {% endif %}

                
              </div>
            </div>
          {% endfor %}

          
        </div>
        {{ cart_upsell }}

      {% when 'mobile' %}
        <div class="cart--body">
          {% comment %} <div class="cart--items"> {% endcomment %}
          {% for item in cart.items %}
            {% capture item_image %}
              {% include "framework--image", image: item.image %}
            {% endcapture %}

            <div
              class="cart--item"
              data-variant-id="{{ item.variant_id }}"
              data-item-key="{{ item.key }}"
            >
              <div class="cart--item--title">
                <div class="font--block-heading">
                  <a href="{{ item.url }}">{{ item.product.title }}<span class="tdf-cart-item-t"></span></a>
                </div>
              </div>

              <div class="cart--item--image">
                <a href="{{ item.url }}">
                  {% if template.suffix contains 'ajax--' %}
                    <img src="{{ item.image | img_url: '200x' }}" alt="{{ item.image.alt }}"/>
                  {% else %}
                  {{ item_image }}
                  {% endif %}
                </a>
              </div>

              <div class="cart--item--info">
                {% unless item.variant.title contains 'Default' %}
                  <div class="font--paragraph">
                    <a href="{{ item.url }}">{{ item.variant.title }}</a>
                  </div>
                {% endunless %}

                {% assign is_gift = false %}

                {% assign property_size = item.properties | size %}
                {% if property_size > 0 %}
                  <div class="cart--item-properties">
                  {% for p in item.properties %}
                    {% unless p.last == blank or p.first == '_free_gift' %}
                      <br>
                      {{ p.first }}:
                      {% comment %} Check if there was an uploaded file associated {% endcomment %}
                      {% if p.last contains '/uploads/' %}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        {{ p.last }}
                      {% endif %}  
                    {% endunless %}
                    {% if p.first == '_free_gift' %}
                      {% assign is_gift = true %}
                    {% endif %}
                  {% endfor %}
                  </div>
                {% endif %}

                <div class="cart--item--price">
                  {% if item.original_line_price > item.final_line_price %}
                    <div class="cart--item--orig-price font--light-accent">
                      <s class="money">{{ item.original_line_price | money }}</s>
                    </div>
                  {% endif %}

                  {% if is_gift %}
                    <div class="cart--item--total font--accent money">
                      {{ 0 | money }}
                    </div>
                    <div class="gift_discount">
                      FREE GIFT
                    </div>
                  {% else %}
                    <div class="cart--item--total font--accent money">
                      {{ item.final_line_price | money }}
                    </div>

                    {% if item.line_level_discount_allocations.size > 0 %}
                      <div class="cart--item--discounts font--light-accent">
                        {% for discount_allocation in item.line_level_discount_allocations %}
                          {{ discount_allocation.discount_application.title }}&nbsp;
                          (–<span class="money">{{ discount_allocation.amount | money }}</span>)
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endif %}

                  
                </div>

                <div class="cart--item--quantity">
                  {% unless is_gift == true %}
                  <div class="cart--quantity--container input--number">
                    <a
                      tabindex="0"
                      aria-label="{{ minus_t }}"
                      class="minus"
                      href="/cart/change?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1}}"
                    >
                      {% include 'snippet-symbol' with 'minus' %}
                    </a>
                    <label for="updates_{{ item.id }}" class="hidden">{{ quantity_t }}</label>
                    <input
                      class="cart--quantity--input"
                      type="text"
                      name="updates[]"
                      id="updates_{{ item.id }}"
                      value="{{ item.quantity }}"
                      min="1"
                      pattern="[1-9]*"
                      data-loading="false"
                    />
                    <a
                      class="plus"
                      tabindex="0"
                      aria-label="{{ plus_t }}"
                      href="/cart/change?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1}}"
                    >
                      {% include 'snippet-symbol' with 'plus' %}
                    </a>
                  </div>
                  {% endunless %}
                  <div class="cart--item--remove font--block-link">
                    <a
                      href="/cart/change?line={{ forloop.index }}&quantity=0"
                      class="remove"
                      aria-label="{{ remove_t }}"
                      title="{{ remove_t }}"
                    >
                      {{ remove_t }}
                    </a>
                  </div>
                  
                </div>
              </div>
            </div>
          {% endfor %}
          
          {{ cart_upsell }}
          
        </div>
    {% endcase %}

    <div class="cart--footer">
      {% if settings.cart--show-note %}
        <div class="cart--notes">
          <label for="cart-note" class="cart--notes--heading">{{ order_notes_t }}</label>
          <textarea class="cart--notes--textarea"
                    id="cart-note"
                    name="note">{{ cart.note }}</textarea>
        </div>
      {% endif %}
      <div class="cart--totals">
        {%- if cart.cart_level_discount_applications != blank -%}
          <div class="cart--sub-total">
            <div class="font--block-heading">{{ subtotal_t }}</div>
            <div class="font--accent money">{{ cart.items_subtotal_price | money }}</div>
          </div>
          

          <div class="cart--discounts">
            <ul>
            {%- for discount_application in cart.cart_level_discount_applications -%}
              <li>
                <div class="font--accent">{{ discount_application.title }}</div>
                <span class="font--light-accent">
                  –<span class="money">{{ discount_application.total_allocated_amount | money }}
                  </span>
                </span>
              </li>
            {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        <!-- Final cart total -->
        <div class="cart--total">
          <div class="font--block-heading">{{ total_t }}</div>
          <div class="cart--total--price font--accent money"><span style="display:none" class="tdf-cart-total-flag"></span>{{ cart.total_price | money }}</div>
        </div>

        <div class="shipping_price">
          <div class="label">Shipping within the USA:</div>
          <div class="value">{{ settings.shipping_price }}</div>
        </div>
        <div class="shipping_duration">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none">
            <path d="M17.7 7.38125L15.825 3.00625C15.7772 2.89328 15.6971 2.79689 15.5949 2.7291C15.4926 2.6613 15.3727 2.6251 15.25 2.625H13.375V1.375C13.375 1.20924 13.3092 1.05027 13.1919 0.933058C13.0747 0.815848 12.9158 0.75 12.75 0.75H0.875C0.70924 0.75 0.550268 0.815848 0.433058 0.933058C0.315848 1.05027 0.25 1.20924 0.25 1.375V12C0.25 12.1658 0.315848 12.3247 0.433058 12.4419C0.550268 12.5592 0.70924 12.625 0.875 12.625H2.2125C2.35643 13.1546 2.67063 13.6221 3.10662 13.9555C3.54262 14.2888 4.07619 14.4694 4.625 14.4694C5.17381 14.4694 5.70738 14.2888 6.14338 13.9555C6.57937 13.6221 6.89357 13.1546 7.0375 12.625H10.9625C11.1064 13.1546 11.4206 13.6221 11.8566 13.9555C12.2926 14.2888 12.8262 14.4694 13.375 14.4694C13.9238 14.4694 14.4574 14.2888 14.8934 13.9555C15.3294 13.6221 15.6436 13.1546 15.7875 12.625H17.125C17.2908 12.625 17.4497 12.5592 17.5669 12.4419C17.6842 12.3247 17.75 12.1658 17.75 12V7.625C17.7498 7.54122 17.7328 7.45833 17.7 7.38125ZM13.375 3.875H14.8375L16.175 7H13.375V3.875ZM4.625 13.25C4.37777 13.25 4.1361 13.1767 3.93054 13.0393C3.72498 12.902 3.56476 12.7068 3.47015 12.4784C3.37554 12.2499 3.35079 11.9986 3.39902 11.7561C3.44725 11.5137 3.5663 11.2909 3.74112 11.1161C3.91593 10.9413 4.13866 10.8222 4.38114 10.774C4.62361 10.7258 4.87495 10.7505 5.10335 10.8451C5.33176 10.9398 5.52699 11.1 5.66434 11.3055C5.80169 11.5111 5.875 11.7528 5.875 12C5.875 12.3315 5.7433 12.6495 5.50888 12.8839C5.27446 13.1183 4.95652 13.25 4.625 13.25ZM10.9625 11.375H7.0375C6.89357 10.8454 6.57937 10.3779 6.14338 10.0445C5.70738 9.71122 5.17381 9.53062 4.625 9.53062C4.07619 9.53062 3.54262 9.71122 3.10662 10.0445C2.67063 10.3779 2.35643 10.8454 2.2125 11.375H1.5V2H12.125V9.85C11.8404 10.0152 11.5912 10.2349 11.3917 10.4966C11.1922 10.7583 11.0464 11.0568 10.9625 11.375ZM13.375 13.25C13.1278 13.25 12.8861 13.1767 12.6805 13.0393C12.475 12.902 12.3148 12.7068 12.2201 12.4784C12.1255 12.2499 12.1008 11.9986 12.149 11.7561C12.1972 11.5137 12.3163 11.2909 12.4911 11.1161C12.6659 10.9413 12.8887 10.8222 13.1311 10.774C13.3736 10.7258 13.6249 10.7505 13.8534 10.8451C14.0818 10.9398 14.277 11.1 14.4143 11.3055C14.5517 11.5111 14.625 11.7528 14.625 12C14.625 12.3315 14.4933 12.6495 14.2589 12.8839C14.0245 13.1183 13.7065 13.25 13.375 13.25ZM16.5 11.375H15.7875C15.6493 10.8397 15.3375 10.3653 14.901 10.0261C14.4645 9.68679 13.9278 9.50179 13.375 9.5V8.25H16.5V11.375Z" fill="#272727"/>
          </svg>
          <span>{{ settings.shipping_duration }}</span>
        </div>
        <div class="reward-points">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M11.125 0.5C10.0044 0.5 8.98875 0.71 8.195 1.10562C7.40188 1.50125 6.75 2.14562 6.75 3V5.5C6.75 5.58063 6.77688 5.65875 6.78937 5.73438C6.16377 5.5754 5.52048 5.49665 4.875 5.5C3.75437 5.5 2.73875 5.71 1.945 6.10563C1.15187 6.50125 0.5 7.14563 0.5 8V13C0.5 13.8544 1.15188 14.4987 1.94563 14.8944C2.73875 15.29 3.75437 15.5 4.875 15.5C5.99563 15.5 7.01125 15.29 7.805 14.8944C8.5975 14.4987 9.25 13.8544 9.25 13V12.7463C9.8614 12.9115 10.4917 12.9968 11.125 13C12.2456 13 13.2612 12.79 14.055 12.3944C14.8475 11.9987 15.5 11.3544 15.5 10.5V3C15.5 2.14562 14.8481 1.50125 14.0544 1.10562C13.2619 0.71 12.2463 0.5 11.125 0.5ZM11.125 1.75C12.0769 1.75 12.9244 1.955 13.4881 2.23813C14.0525 2.52125 14.25 2.81938 14.25 3C14.25 3.18125 14.0525 3.47875 13.4881 3.76187C12.925 4.045 12.0769 4.25 11.125 4.25C10.1731 4.25 9.32562 4.045 8.76188 3.76187C8.1975 3.47875 8 3.18062 8 3C8 2.81875 8.1975 2.52125 8.76188 2.23813C9.325 1.955 10.1731 1.75 11.125 1.75ZM8 4.7775C8.06563 4.81375 8.12687 4.86063 8.19562 4.89437C8.98875 5.29 10.0044 5.5 11.125 5.5C12.2456 5.5 13.2612 5.29 14.055 4.89437C14.1231 4.86063 14.1844 4.81375 14.25 4.7775V5.5C14.25 5.68125 14.0525 5.97875 13.4881 6.26188C12.9244 6.545 12.0769 6.75 11.125 6.75C10.1731 6.75 9.32562 6.545 8.76188 6.26188C8.1975 5.97875 8 5.68062 8 5.5V4.7775ZM4.875 6.75C5.82688 6.75 6.67438 6.955 7.23812 7.23812C7.8025 7.52125 8 7.81938 8 8C8 8.18125 7.8025 8.47875 7.23812 8.76188C6.67438 9.045 5.82688 9.25 4.875 9.25C3.92313 9.25 3.07562 9.045 2.51187 8.76188C1.9475 8.47875 1.75 8.18062 1.75 8C1.75 7.81875 1.9475 7.52125 2.51187 7.23812C3.075 6.955 3.92313 6.75 4.875 6.75ZM14.25 7.2775V8C14.25 8.18125 14.0525 8.47875 13.4881 8.76188C12.9244 9.045 12.0769 9.25 11.125 9.25C10.4883 9.25345 9.85524 9.15448 9.25 8.95687V8C9.25 7.91937 9.22313 7.84125 9.21062 7.76562C9.79187 7.91687 10.4362 8 11.125 8C12.2456 8 13.2612 7.79 14.055 7.39437C14.1231 7.36063 14.1844 7.31375 14.25 7.2775ZM1.75 9.7775C1.81562 9.81375 1.87688 9.86063 1.94563 9.89437C2.73875 10.29 3.75437 10.5 4.875 10.5C5.99563 10.5 7.01125 10.29 7.805 9.89437C7.87312 9.86063 7.93437 9.81375 8 9.7775V10.5C8 10.6812 7.8025 10.9788 7.23812 11.2619C6.67438 11.545 5.82688 11.75 4.875 11.75C3.92313 11.75 3.07562 11.545 2.51187 11.2619C1.9475 10.9788 1.75 10.6806 1.75 10.5V9.7775ZM14.25 9.7775V10.5C14.25 10.6812 14.0525 10.9788 13.4881 11.2619C12.9244 11.545 12.0769 11.75 11.125 11.75C10.4144 11.75 9.7725 11.65 9.25 11.4762V10.2656C9.82375 10.4169 10.4487 10.5 11.125 10.5C12.2456 10.5 13.2612 10.29 14.055 9.89437C14.1231 9.86063 14.1844 9.81375 14.25 9.7775ZM1.75 12.2775C1.81562 12.3138 1.87688 12.3606 1.94563 12.3944C2.73875 12.79 3.75437 13 4.875 13C5.99563 13 7.01125 12.79 7.805 12.3944C7.87312 12.3606 7.93437 12.3138 8 12.2775V13C8 13.1812 7.8025 13.4788 7.23812 13.7619C6.67438 14.045 5.82688 14.25 4.875 14.25C3.92313 14.25 3.07562 14.045 2.51187 13.7619C1.9475 13.4788 1.75 13.1806 1.75 13V12.2775Z" fill="#575757"/>
          </svg>
          <span>Earn <strong>{{ cart.total_price | divided_by: 100 | times: settings.earning_point_rate | round: 0 }} points</strong> with this purchase.</span>
        </div>

        <div class="cart--tax-info font--paragraph">
          {{ shipping_taxes_t }}
        </div>
		 <!-- Route Code Edited  12/17/2020 -->
          <div class="route-div" watch-add="add font--secondary-button"></div>
        <div style="font-size: 12px; margin-top: -10px; margin-bottom: 15px; line-height: 15px;">
         *By not selecting shipping protection, The Sugar Art<br> is not liable for lost, damaged, or stolen items
        </div>    
          <!-- End Route Code -->
        <div class="cart--nav">
          <p class="accept-terms">            
            <input type="checkbox" id="acceptTerms--{{ cart_template_index }}" class="acceptTerms" name="acceptTerms">
            <label for="acceptTerms--{{ cart_template_index }}">I agree to the <a href="#" target="_blank" class="modal-toggle">terms and conditions</a>.</label>
          </p>
          <div class="cart--continue-shopping font--block-link">
            <a href="{{ shop.url }}/collections/all">
              {{ continue_t }}
            </a>
          </div>

          <button class="cart--checkout-button font--button" type="submit" name="checkout">
            {{ checkout_t }}
          </button>
        </div>

      {% if additional_checkout_buttons %}
        <div class="cart--additional-buttons additional-checkout-buttons
          {% if view == 'mobile' %} additional-checkout-buttons--vertical {% endif %}">
          <div class="buttons-overlap"></div>
          {{ content_for_additional_checkout_buttons }}
        </div>
      {% endif %}

      </div>
    </div>
  </form>

  <div class="cart--no-items font--paragraph">{{ empty_html_t }}</div>
</div>