{% comment %} Translations {% endcomment %}
{% assign title_t = 'blog.comment.title' | t %}
{% assign moderated_feedback_t = 'blog.comment.moderated_feedback' | t %}
{% assign success_feedback_t = 'blog.comment.success_feedback' | t %}
{% assign error_t = 'blog.comment.error' | t %}
{% assign name_t = 'blog.comment.name' | t %}
{% assign email_t = 'blog.comment.email' | t %}
{% assign comment_t = 'blog.article.comment' | t %}
{% assign no_comments_t = 'blog.article.no_comments' | t %}
{% assign button_t = 'blog.comment.button' | t %}
{% assign moderated_notice_t = 'blog.comment.moderated_notice' | t %}

{% capture arrow_right %}
	{% include 'snippet-symbol' with 'arrow-right' %}
{% endcapture %}

{% capture arrow_left %}
	{% include 'snippet-symbol' with 'arrow-left' %}
{% endcapture %}

{% paginate article.comments by 20 %}

{% comment %} View {% endcomment %}
  <div id="comments" class="comments--root">

    {% if article.comments.size > 0 %}

      <div class="comments--list" >
        {% for comment in article.comments %}

          <div id="comment-{{ comment.id }}" class="comment--item">

            <p class="comment--meta">
              <span class="font--accent">{{ comment.author }}</span> &mdash;
              <span class="font--light-accent">
                {%
                  include "framework--utils",
                  utility: "timesince",
                  created_at: comment.created_at
                %}
              </span>
            </p>

            <div class="comment--content font--paragraph">
              {{ comment.content }}
            </div>

          </div>

        {% endfor %}
      </div>

    {% else %}
      <div class="comments--none font--paragraph">{{ no_comments_t }}</div>
    {% endif %}

    {% if paginate.pages > 1 %}
      <div class="comments--pagination">
        {{ paginate | default_pagination: next: arrow_right, previous: arrow_left }}
      </div>
    {% endif %}

    {% form article, class: 'comments--form'  %}

      {% if form.posted_successfully? %}

        {% if blog.moderated? %}
          <p class="success font--accent">{{ moderated_feedback_t }}</p>
          {% else %}
          <p class="success font--accent">{{ success_feedback_t }}</p>
        {% endif %}

      {% endif %}

      <div class="comments--form-meta">

        <div class="comments--form-name" >
          <input type="text"
                id="comment_name"
                name="comment[author]"
                size="40"
                class="font--accent"
                placeholder="{{ name_t }}"
                required />
          <label for="comment_name">{{ name_t }}</label>
        </div>

        <div class="comments--form-email" >
          <input type="text"
                id="comment_email"
                name="comment[email]"
                size="40"
                class="font--accent"
                placeholder="{{ email_t }}"
                required />
          <label for="comment_email">{{ email_t }}</label>
        </div>

      </div>

      <div class="comments--form-input" >
        <textarea
          id="comment_body"
          name="comment[body]"
          cols="40"
          rows="5"
          class="font--accent"
          placeholder="{{ comment_t }}"
          required >{{form.body}}</textarea>
        <label for="comment_body">{{ comment_t }}</label>
      </div>

      {% if blog.moderated? %}
        <div class="comments--form-moderated font--accent">
          {{ moderated_notice_t }}
        </div>
      {% endif %}

      {% if form.errors %}
        <div class="comments--form-error font--accent">
          {{ error_t }}
        </div>
      {% endif %}

      <input type="submit" value="{{ button_t }}" class="font--button" id="comment-submit" />

    {% endform %}

  </div>

{% endpaginate %}